<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/idea.css"/>
</head>

<body>
<!------------------------------head------------------------------>
<div id="head"></div>
<!------------------------------head------------------------------>

<div id="center">
    <!------------------------------slider------------------------------>
    <div class="block_home_slider">
        <div id="home_slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slide"><img src="../../static/img/banner2.jpg"/></div>
                </li>
                <li>
                    <div class="slide"><img src="../../static/img/banner1.jpg"/></div>
                </li>
            </ul>
        </div>
    </div>
    <!------------------------------slider------------------------------>

    <!------------------------------newGoods------------------------------>
    <div class="thImg">
        <div class="clearfix">
            <a href="vase_proList.html"><img src="../../static/img/i1.jpg"/></a>
            <a href="proList.html">
                <img src="../../static/img/i2.jpg"/></a>
            <a href="#2">
                <img src="../../static/img/i3.jpg"/></a>
        </div>
    </div>
    <!------------------------------newGoods------------------------------>

    <!------------------------------ad------------------------------>
    <div class="news">
        <div class="wrapper"><h2><img src="../../static/img/ih1.jpg"/></h2>
            <div class="top clearfix">
                <a href="#">
                    <img src="../../static/img/n1.jpg"/>
                    <p></p>
                </a>
                <a href="#">
                    <img src="../../static/img/n2.jpg"/>
                    <p></p>
                </a>
                <a href="#">
                    <img src="../../static/img/n3.jpg"/>
                    <p></p>
                </a>
            </div>
            <div class="bott clearfix"><a href="proDetail.html"><img src="../../static/img/n4.jpg"/>
                <p></p></a><a href="#"><img src="../../static/img/n5.jpg"/>
                <p></p></a><a href="#"><img src="../../static/img/n6.jpg"/>
                <p></p>
            </a>
            </div>
            <h2><img src="../../static/img/ih2.jpg"/></h2>
            <div class="flower clearfix tran">
                <a href="proDetail.html?id=1" class="clearfix">
                    <dl>
                        <dt><span class="abl"></span><img src=" ../../static/img/temp/pro01.jpg"/><span
                                class="abr"></span></dt>
                        <dd>【最家】跳舞兰仿真花干花</dd>
                        <dd><span>￥17.90</span></dd>
                    </dl>
                </a><a href="proDetail.html?id=2">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/pro02.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】跳舞兰仿真花干花</dd>
                    <dd><span>¥ 17.90</span></dd>
                </dl>
            </a><a href="proDetail.html?id=3">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/pro03.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】跳舞兰仿真花干花</dd>
                    <dd><span>¥ 17.90</span></dd>
                </dl>
            </a></div>
            <div class="flower clearfix tran"><a href="proDetail.html?id=4">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/vase01.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】创意现代简约白瓷干花花瓶摆件</dd>
                    <dd><span>¥ 17.90</span></dd>
                </dl>
            </a><a href="proDetail.html?id=5">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/vase02.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】现代简约白色条纹干花花瓶摆件</dd>
                    <dd><span>¥ 16.90</span></dd>
                </dl>
            </a><a href="proDetail.html?id=6">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/vase03.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】北欧现代陶瓷花瓶摆件</dd>
                    <dd><span>¥ 19.90</span></dd>
                </dl>
            </a></div>
        </div>
    </div>
    <a href="#" class="ad"><img
            src="../../static/img/ib1.jpg"/></a>
    <!------------------------------ad------------------------------>

    <!------------------------------hotGoods------------------------------>
    <div class="people">
        <div class="wrapper"><h2><img src="../../static/img/ih3.jpg"/></h2>
            <div class="pList clearfix tran"><a href="proDetail.html?id=19">
                <dl>
                    <dt><span class="abl"></span><img src=" ../../static/img/temp/sec201.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥298.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=20">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec102.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥299.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=21">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec103.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥399.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=22">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec104.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥350.00</span></dd>
                </dl>
            </a></div>
            <div class="pList clearfix tran"><a href="proDetail.html?id=23">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec105.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥450.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=24">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec106.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥499.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=25">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec201.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥298.00</span></dd>
                </dl>
            </a><a href="proDetail.html?id=26">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/temp/sec202.jpg"/><span class="abr"></span>
                    </dt>
                    <dd>【最家】新中式客厅山水装饰画墙壁挂画</dd>
                    <dd><span>￥398.00</span></dd>
                </dl>
            </a></div>
        </div>
    </div>
    <!------------------------------hotGoods------------------------------>
</div>
<!------------------------------返回顶部------------------------------>
<div id="hover"></div>
<!------------------------------返回顶部------------------------------>

<!--------------------footer-------------------->
<div id="footer"></div>
<!--------------------footer-------------------->
</body>
<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/cart.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    window.onload = function init() {
        $("#head").load('element/header.html')
        $("#footer").load('element/footer.html')
        $("#hover").load('element/hover.html')
    };
    $(function () {
        $('#home_slider').flexslider({
            animation: 'slide',
            controlNav: true,
            directionNav: true,
            animationLoop: true,
            slideshow: true,
            slideshowSpeed: 2000,
            useCSS: false
        });
    });

    function changeHead(index) {
        console.log(index)
        switch (index) {
            case 1:
                $("#center").load('element/flower.html')
                break;
            case 2:
                $("#center").load('element/decoration.html')
                break;
            case 3:
                $("#center").load('element/paint.html')
                break;
            case 4:
                $("#center").load('element/perfume.html')
                break;
            case 5:
                $("#center").load('element/idea.html')
                break;
        }
    }
</script>
</html>