<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/idea.css"/>
</head>

<body>
<!------------------------------head------------------------------>
<div id="head"></div>
<!------------------------------head------------------------------>

<div id="center">
    <!------------------------------slider------------------------------>
    <div class="block_home_slider">
        <div id="home_slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slide"><img src="../../static/img/banner2.jpg"/></div>
                </li>
                <li>
                    <div class="slide"><img src="../../static/img/banner1.jpg"/></div>
                </li>
            </ul>
        </div>
    </div>
    <!------------------------------slider------------------------------>

    <!------------------------------newGoods------------------------------>
    <div class="thImg">
        <div class="clearfix"><a href="vase_proList.html">
            <img src="../../static/img/i1.jpg"/></a><a href="proList.html">
            <img src="../../static/img/i2.jpg"/></a><a href="#2">
            <img src="../../static/img/i3.jpg"/></a>
        </div>
    </div>
    <!------------------------------newGoods------------------------------>

    <!------------------------------ad------------------------------>
    <div class="news">
        <div class="wrapper"><h2><img src="../../static/img/ih1.jpg"/></h2>
            <div class="top clearfix">
                <a href="#">
                    <img src="../../static/img/n1.jpg"/>
                    <p></p>
                </a>
                <a href="#">
                    <img src="../../static/img/n2.jpg"/>
                    <p></p>
                </a>
                <a href="#">
                    <img src="../../static/img/n3.jpg"/>
                    <p></p>
                </a>
            </div>
            <div class="bott clearfix"><a href="proDetail.html"><img src="../../static/img/n4.jpg"/>
                <p></p></a><a href="#"><img src="../../static/img/n5.jpg"/>
                <p></p></a><a href="#"><img src="../../static/img/n6.jpg"/>
                <p></p>
            </a>
            </div>
            <h2><img src="../../static/img/ih2.jpg"/></h2>
            <div class="flower clearfix tran"><a href="proDetail.html" class="clearfix">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo1.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo2.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo3.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a></div>
            <div class="flower clearfix tran"><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo4.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo5.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/flo6.jpg"/><span class="abr"></span></dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a></div>
        </div>
    </div>
    <a href="#" class="ad"><img
            src="../../static/img/ib1.jpg"/></a>
    <!------------------------------ad------------------------------>

    <!------------------------------hotGoods------------------------------>
    <div class="people">
        <div class="wrapper"><h2><img src="../../static/img/ih3.jpg"/></h2>
            <div class="pList clearfix tran"><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s7.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】不锈钢壁饰墙饰软装</dd>
                    <dd><span>￥688.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s10.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】小城动物木板画壁挂北欧</dd>
                    <dd><span>￥188.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s4.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】玄关假山水壁饰背景墙饰挂件创意</dd>
                    <dd><span>￥599.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s9.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】金属树枝壁饰铜鸟装饰品</dd>
                    <dd><span>￥928.00</span></dd>
                </dl>
            </a></div>
            <div class="pList clearfix tran"><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s6.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】金属壁饰创意背景墙面挂件创意</dd>
                    <dd><span>￥228.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s8.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】小城动物木板画壁挂北欧</dd>
                    <dd><span>￥199.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s12.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】欧式复古挂钟创意餐厅钟表家居挂件</dd>
                    <dd><span>￥666.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s1.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】客厅地中海欧式现代相片墙创意</dd>
                    <dd><span>￥59.80</span></dd>
                </dl>
            </a></div>
            <div class="pList clearfix tran"><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s5.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】铁艺荷叶壁挂软装背景墙上装饰品</dd>
                    <dd><span>￥800.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s3.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】欧式照片墙 创意组合结婚礼物</dd>
                    <dd><span>￥189.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s2.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】欧式钟表相框墙挂墙创意组合</dd>
                    <dd><span>￥148.00</span></dd>
                </dl>
            </a><a href="proDetail.html">
                <dl>
                    <dt><span class="abl"></span><img src="../../static/img/s11.jpg"/><span class="abr"></span></dt>
                    <dd>【最家】小城动物木板画壁挂北欧</dd>
                    <dd><span>￥188.00</span></dd>
                </dl>
            </a></div>
        </div>
    </div>
    <!------------------------------hotGoods------------------------------>
</div>
<!------------------------------返回顶部------------------------------>
<div id="hover"></div>
<!------------------------------返回顶部------------------------------>

<!--------------------footer-------------------->
<div id="footer"></div>
<!--------------------footer-------------------->
</body>
<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/cart.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.onload = function init() {
        $("#head").load('element/header.html')
        $("#footer").load('element/footer.html')
        $("#hover").load('element/hover.html')
    };
    $(function () {
        $('#home_slider').flexslider({
            animation: 'slide',
            controlNav: true,
            directionNav: true,
            animationLoop: true,
            slideshow: true,
            slideshowSpeed: 2000,
            useCSS: false
        });
    });
    function changeHead(index){
        console.log(index)
        switch(index){
            case 1:
                $("#center").load('element/flower.html')
                break;
            case 2:
                $("#center").load('element/decoration.html')
                break;
            case 3:
                $("#center").load('element/paint.html')
                break;
            case 4:
                $("#center").load('element/perfume.html')
                break;
            case 5:
                $("#center").load('element/idea.html')
                break;
        }
    }
</script>
</html>