<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应UserDao接口中的方法-->
<mapper namespace="cdu.tuogen.mapper.TestUserMapper">

    <select id="queryUsers" resultType="cdu.tuogen.pojo.TestUser">
        select * from t_user
    </select>

</mapper>