<div class="cart mt">
    <!-----------------logo------------------->
    <div class="logo"><h1 class="wrapper clearfix">
        </a><img class="top" src="../../static/img/temp/cartTop01.png"></h1></div>
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl">购物车</span>
            <img class="top" href="index.html" class="fr">继续购物&gt;</a></p></div>
    <!-----------------table------------------->
    <div class="table wrapper">
        <div class="tr">
            <div>商品</div>
            <div>单价</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>
        <div id="wangdage"></div>
        <div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
        <div class="tr clearfix"><label class="fl"><input class="checkAll" type="checkbox"/><span></span></label>
            <p class="fl"><a href="#">全选</a><a href="#" class="del">删除</a></p>
            <p class="fr"><span>共<small id="sl">0</small>件商品</span><span>合计:&nbsp;<small id="all">￥0.00</small></span><a
                    onclick="goToPay()" class="count">结算</a></p></div>
    </div>
</div>
<div class="mask"></div>
<div class="tipDel"><p>确定要删除该商品吗？</p>
    <p class="clearfix"><a class="fl cer" href="#">确定</a><a class="fr cancel" href="#">取消</a></p>
</div>
<script type="text/javascript">
    function goToPay() {
        $.ajax({
            url: "/order/add",
            method:'get',
            success: function (data) {
                console.log(data)
                location.href = "ok.html"
            }
        })
    }
</script>