<!------------------------------banner------------------------------>
<div class="banner"><a href="#"><img src=" ../../static/img/temp/bzbig.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
  <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="decoration.html" class="on">布艺软饰</a>
  </div>
</div><!-------------------current---------------------->
<div class="current">
  <div class="wrapper clearfix"><h3 class="fl">布艺软饰</h3>
    <div class="fr choice"><p class="default">排序方式</p>
      <ul class="select">
        <li>新品上市</li>
        <li>销量从高到低</li>
        <li>销量从低到高</li>
        <li>价格从高到低</li>
        <li>价格从低到高</li>
      </ul>
    </div>
  </div>
</div><!----------------proList------------------------->
<ul class="proList wrapper clearfix">
  <li>
    <a href="proDetail.html?id=10">
    <dl>

      <dt><img src=" ../../static/img/temp/bz07.jpg"></dt>
      <dd>【最家】法式乡村复古抱枕</dd>
      <dd>￥24.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=11">
    <dl>
      <dt><img src=" ../../static/img/temp/bz06.jpg"></dt>
      <dd>【最家】时尚图案抱枕</dd>
      <dd>￥25.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=12">
    <dl>
      <dt><img src=" ../../static/img/temp/bz05.jpg"></dt>
      <dd>【最家】北欧时尚现代动物抱枕</dd>
      <dd>￥26.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=13">
    <dl>
      <dt><img src=" ../../static/img/temp/bz04.jpg"></dt>
      <dd>【最家】简约格子抱枕</dd>
      <dd>￥32.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=14">
    <dl>
      <dt><img src=" ../../static/img/temp/bz03.jpg"></dt>
      <dd>【最家】纯色棉麻抱枕</dd>
      <dd>￥24.00</dd>
      <!--test-->
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=15">
    <dl>
      <dt><img src=" ../../static/img/temp/bz02.jpg"></dt>
      <dd>【最家】时尚现代叮当猫抱枕</dd>
      <dd>￥32.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=16">
    <dl>
      <dt><img src=" ../../static/img/temp/bz01.jpg"></dt>
      <dd>【最家】欧式现代棉麻抱枕</dd>
      <dd>￥33.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=17">
    <dl>
      <dt><img src=" ../../static/img/temp/bz08.jpg"></dt>
      <dd>【最家】清新乡村田园抱枕</dd>
      <dd>￥36.00</dd>
    </dl>
  </a></li>
  <li><a href="proDetail.html?id=18">
    <dl>
      <dt><img src=" ../../static/img/temp/bz07.jpg"></dt>
      <dd>【最家】法式乡村复古抱枕</dd>
      <dd>￥38.00</dd>
    </dl>
  </a></li>
</ul><!----------------mask------------------->