<!------------------------------banner------------------------------>
<div class="banner"><a href="#"><img src=" ../../static/img/temp/bzbig.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
  <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="decoration.html" class="on">布艺软饰</a>
  </div>
</div><!-------------------current---------------------->
<div class="current">
  <div class="wrapper clearfix"><h3 class="fl">布艺软饰</h3>
    <div class="fr choice"><p class="default">排序方式</p>
      <ul class="select">
        <li>新品上市</li>
        <li>销量从高到低</li>
        <li>销量从低到高</li>
        <li>价格从高到低</li>
        <li>价格从低到高</li>
      </ul>
    </div>
  </div>
</div><!----------------proList------------------------->
<ul class="proList wrapper clearfix" id="deContent">
  <li>
    <a href="proDetail.html?id=10">
    <dl>

      <dt><img src=" ../../static/img/temp/bz07.jpg"></dt>
      <dd>【最家】法式乡村复古抱枕</dd>
      <dd>￥24.00</dd>
    </dl>
  </a></li>
</ul><!----------------mask------------------->
<script type="text/javascript">
  $.ajax({
    url: "/goods/2",
    success: function (data) {
      console.log(data)
      const content = $("#deContent");
      content.html("")
      for (let goods in data) {
        content.append("<li>" +
                "<a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                "<dl>" +
                "<dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                "<dd>" + data[goods].goodName + "</dd>\n<dd>￥" + data[goods].goodPrice + "</dd>" +
                "</dl>" +
                "</a></li>")
      }
    }
  })
</script>