<!------------------------------banner------------------------------>
<div class="banner"><a href="#"><img src=" ../../static/img/temp/banner1.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="flowerDer.html" class="on">装饰摆件</a>
    </div>
</div>
<!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix"><h3 class="fl">装饰摆件</h3>
        <div class="fr choice"><p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>
<!----------------proList------------------------->
<ul class="proList wrapper clearfix" id="flowerContent">
    <li><a href="proDetail.html?id=1">
        <dl><dt><img src=" ../../static/img/temp/pro01.jpg"></dt>
            <dd>【最家】跳舞兰仿真花干花</dd>
            <dd>￥17.90</dd></dl></a></li>
</ul>
<script type="text/javascript">
    $.ajax({
        url: "/goods/1",
        success: function (data) {
            const content = $("#flowerContent");
            content.html("")
            for (let goods in data) {
                content.append("<li><a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                    "<dl><dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                    "<dd>" + data[goods].goodName + "</dd>" +
                    "<dd>￥" + data[goods].goodPrice + "</dd></dl></a></li>")
            }
        }
    })
</script>