<!------------------------------idea------------------------------>
<div class="address">
  <div class="wrapper clearfix"><a href="index.html" class="fl">首页</a><span>/</span><a href="idea.html" class="on">创意家居</a>
  </div>
</div><!------------------------------imgList1------------------------------>
<div class="imgList1">
  <div class="wrapper">
    <div class="box1"><a href="proDetail.html" class="banner"><img src="../../static/img/idea1.jpg"/></a>
      <ul id="idea_1">
      </ul>
      <ul  id="idea_2">
      </ul>
      <ul  id="idea_3">
      </ul>
    </div>
    <h2><img src="../../static/img/ih5.jpg"/></h2>
  </div>
</div>
<script type="text/javascript">
  $.ajax({
    url: "/goods/5",
    success: function (data) {
      console.log(data)
      const content = $("#idea_1");
      const content1 = $("#idea_2");
      const content2 = $("#idea_3");
      content.html("")
      for (let goods in data) {
        console.log(goods)
        if (goods < 3){
          console.log("Id1")
          content.append("<li><a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                  "<dl><dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                  "<dd>" + data[goods].goodName + "</dd>" +
                  "<dd>￥" + data[goods].goodPrice + "</dd></dl></a></li>")
        }else if(goods < 6){
          console.log("Id2")
          content1.append("<li><a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                  "<dl><dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                  "<dd>" + data[goods].goodName + "</dd>" +
                  "<dd>￥" + data[goods].goodPrice + "</dd></dl></a></li>")
        }else{
          console.log("Id3")
          content2.append("<li><a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                  "<dl><dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                  "<dd>" + data[goods].goodName + "</dd>" +
                  "<dd>￥" + data[goods].goodPrice + "</dd></dl></a></li>")
        }
      }
    }
  })
</script>