<!-----------------banner------------------------------->
<div class="banner"><a href="#"><img src=" ../../static/img/temp/banner2.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
  <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="paint.html" class="on">墙式壁挂</a>
  </div>
</div><!-----------------paintCon------------------------------->
<div class="paintCon">
  <section class="wrapper"><h3><img src=" ../../static/img/temp/tit01.jpg"></h3><img src=" ../../static/img/temp/paint01.jpg"/>
    <div class="paintList" id="paint_1">
      <a href="proDetail.html?id=19">
      <dl>
        <dt><img src=" ../../static/img/temp/sec101.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>299.00</dd>
      </dl>
    </a>
    </div>
  </section>
  <section class="wrapper"><h3><img src=" ../../static/img/temp/tit02.jpg"></h3><img src=" ../../static/img/temp/paint02.jpg"/>
    <div class="paintList" id="paint_2">
    <a href="proDetail.html?id=27">
      <dl>
        <dt><img src=" ../../static/img/temp/sec203.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>400.00</dd>
      </dl>
    </a></div>
  </section>
</div>

<script type="text/javascript">
  $.ajax({
    url: "/goods/3",
    success: function (data) {
      console.log(data)
      const content = $("#paint_1");
      const content1 = $("#paint_2");
      content.html("")
      for (let goods in data) {
          if (goods < 6){
            content.append("<a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                    "<dl>" +
                    "<dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                    "<dd>" + data[goods].goodName + "</dd>" +
                    "<dd>" + data[goods].goodPrice + "</dd>" +
                    "</dl>" +
                    "</a>")
          }else{
            content1.append("<a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                    "<dl>" +
                    "<dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                    "<dd>" + data[goods].goodName + "</dd>" +
                    "<dd>" + data[goods].goodPrice + "</dd>" +
                    "</dl>" +
                    "</a>")
          }
      }
    }
  })
</script>