<!-----------------banner------------------------------->
<div class="banner"><a href="#"><img src=" ../../static/img/temp/perfume_Banner.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
  <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="perfume.html" class="on">蜡艺香薰</a>
  </div>
</div><!-----------------paintCon------------------------------->
<div class="paintCon">
  <section class="wrapper"><h3><img src=" ../../static/img/temp/perfumeTit01.jpg"></h3><img src=" ../../static/img/temp/xxB01.jpg"/>
    <div class="paintList" id="perfume_1">
      <a href="proDetail.html?id=28">
      <dl>
        <dt><img src=" ../../static/img/temp/xx01.jpg"></dt>
        <dd>P.F Candle Co</dd>
        <dd>￥299.00</dd>
      </dl>
    </a>
    </div>
  </section>
  <section class="wrapper"><h3><img src=" ../../static/img/temp/perfumeTit02.jpg"></h3><img src=" ../../static/img/temp/xxB02.jpg"/>
    <div class="paintList" id="perfume_2">
      <a href="proDetail.html?id=34">
      <dl>
        <dt><img src=" ../../static/img/temp/xx201.jpg"></dt>
        <dd>L.Y Candle Co</dd>
        <dd>￥499.00</dd>
      </dl>
    </a>
    </div>
  </section>
</div>
<script type="text/javascript">
  $.ajax({
    url: "/goods/4",
    success: function (data) {
      console.log(data)
      const content = $("#perfume_1");
      const content1 = $("#perfume_2");
      content.html("")
      for (let goods in data) {
        if (goods < 6){
          content.append("<a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                  "<dl>" +
                  "<dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                  "<dd>" + data[goods].goodName + "</dd>" +
                  "<dd>" + data[goods].goodPrice + "</dd>" +
                  "</dl>" +
                  "</a>")
        }else{
          content1.append("<a href=\"proDetail.html?id=" + data[goods].goodId + "\">" +
                  "<dl>" +
                  "<dt><img src=\" ../../static/img/temp/" + data[goods].goodPicUrl + "\"></dt>" +
                  "<dd>" + data[goods].goodName + "</dd>" +
                  "<dd>" + data[goods].goodPrice + "</dd>" +
                  "</dl>" +
                  "</a>")
        }
      }
    }
  })
</script>