<!-----------------banner------------------------------->
<div class="banner"><a href="#"><img src=" ../../static/img/temp/perfume_Banner.jpg"/></a></div>
<!-----------------address------------------------------->
<div class="address">
  <div class="wrapper clearfix"><a href="index.html">首页</a><span>/</span><a href="perfume.html" class="on">蜡艺香薰</a>
  </div>
</div><!-----------------paintCon------------------------------->
<div class="paintCon">
  <section class="wrapper"><h3><img src=" ../../static/img/temp/perfumeTit01.jpg"></h3><img src=" ../../static/img/temp/xxB01.jpg"/>
    <div class="paintList"><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx01.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx02.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx103.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx104.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx105.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx106.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a></div>
  </section>
  <section class="wrapper"><h3><img src=" ../../static/img/temp/perfumeTit02.jpg"></h3><img src=" ../../static/img/temp/xxB02.jpg"/>
    <div class="paintList"><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx201.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx202.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx203.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx204.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx205.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a><a href="proDetail.html">
      <dl>
        <dt><img src=" ../../static/img/temp/xx206.jpg"></dt>
        <dd>新中式客厅山水装饰画墙壁挂画</dd>
        <dd>￥299.90</dd>
      </dl>
    </a></div>
  </section>
</div>